body {
    background-color:white;
    color: black;
    padding: 24px;

}

/* NAV + FOOTER::
Citation: https://www.w3schools.com/howto/howto_js_topnav.asp */
nav, footer {
    padding: 20px 0;
    text-align: center;
    background-color: white;
    width: ();

}

nav a {
    padding: 20px 20px;
    text-align: center;
    color: black;

}

nav a:hover, nav a:active:hover {
    padding: ();
    height: ();
    background-color: black;
    color: white;
}

nav a:active {
    background-color: black;
    color: white; 
}

footer {
    padding: ();
    height: ();
    width: ();
}
