body {
    background-color: #FFEFD3;
    color: #001B2E;
    padding: 24px;
    line-height: 2;

}

/* Main Specific 
border citation: 
*/
.myFace {
    width: 300px;
    height: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    
    background-color: #FFC49B;
    border: 5px solid #001B2E;
}

/* Resume Specific */
.resume-section {
    padding-bottom: 5px;
}

.resume-section h2 {
    padding-bottom: 2px;
    border-bottom: 5px solid #FFC49B;
}

.resume-section p {
    color: #294C60;
}

/* Portfolio Specific + Interactive */
.project {
    background-color:#FFEFD3;
    padding: 5px;
    border-bottom: 5px solid #294C60;
}

.project:hover {
    background: #FFEFD3;
    border-bottom: 5px solid #001B2E;
}

.project a {
    color: #294C60;
    font-weight: bold;
}

.project a:hover {
    text-decoration: underline;
}

.gallery {
    padding: 10px;
}

.gallery-item {
    background: #FFC49B;
    border: 1px solid #ADB6C4;
    padding: 10px;
}

.gallery-item:hover {
    background: #FFC49B;
    border-color: #294C60;
}

.gallery-specific h3 {
    color: #001B2E;
}

.gallery-specific p {
    margin: 0;
    line-height: 1.5;
    color: #294C60;
}

/* NAV + FOOTER::
Citation: https://www.w3schools.com/howto/howto_js_topnav.asp */
nav, footer {
    padding: 10px 10px;
    text-align: center;
    background-color: #294C60;
    color: #ADB6C4;
    width: 100%;
    margin: 0px;

}

nav a, footer a{
    padding: 10px;
    color: #ADB6C4;
}

nav a:hover, nav a:visited:hover {
    background-color: #ADB6C4;
    color: #294C60;
    padding: 40px;
    height: 70%;
}

nav a:visited {
    color: #294C60;

}