body {
    background-color: #FFEFD3;
    color: #001B2E;
    padding: 24px;
    line-height: 2;

    font-size: 17px;
    font-family: cursive; /*taken from the list of auto fonts b/c the default was ugly*/
}

/* Main Specific 
border citation: 
*/
.myFace {
    width: 500px;
    height: 370px;
    padding: 20px 20px 20px 20px;
    
    background-color: #FFC49B;
}

/* Portfolio Specific + Interactive */
.photo {
    padding: 0px 20px 20px 20px;
    width: 500px;
    height: 370px; 
}

/* Collapsible Styles */
.collapsible {
    background-color: #294C60;
    color: white;
    padding: 20px 20px 20px 20px;
    width: 100%;
    text-align: left;
    font-size: 20px;
}

.active, .collapsible:hover {
    background-color: #001B2E;
}

.content {
    padding: 0px 18px;
    background-color: white;
}

/* NAV + FOOTER::
Citation: https://www.w3schools.com/howto/howto_js_topnav.asp */
nav, footer {
    background-color: #294C60;
    color: White;
    width: 100%;
    margin: 0px;
    padding: 10px 10px;
    text-align: center;

}

nav a, footer a{
    padding: 10px;
    color: White;
    font-size: 20px;
}

nav a:hover, footer a:hover {
    background-color: #ADB6C4;
    color: #294C60;
    padding: 40px;
    height: 70%;
    font-size: 30px
}

footer a:visited {
    color: #ADB6C4;
}

nav a:visited:hover, footer a:visited:hover {
    color: #294C60;
}